{
    "extends": [
        "airbnb",
        "plugin:react/recommended",
        "react-app/jest",
        "prettier"
    ],
    "ignorePatterns": [
        "index.js",
        "reportWebVitals.js"
    ],
    "plugins": [
        "react",
        "prettier"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "parser": "@babel/eslint-parser",
        "sourceType": "module",
        "allowImportExportEverywhere": true,
        "requireConfigFile": false,
        "ecmaVersion": "latest",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "react/react-in-jsx-scope": "off",
        "import/prefer-default-export": "off",
        "prettier/prettier": "error",
        "no-unused-vars": "warn",
        "no-console": "off",
        "func-names": "off",
        "no-process-exit": "off",
        "object-shorthand": "off",
        "class-methods-use-this": "off",
        "react/jsx-filename-extension": "off",
        "no-plusplus": "off"
    }
}