@import '../../styles/variables.scss';

.app {
  display: grid;
  gap: 2px;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 3fr 4fr;
  background-color: var(--navy);
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newTodoForm {
  height: 90%;
  display: flex;
  align-items: center;  
}

.commandPanel {
  height: 10%;
  display: flex;
  align-items: center;  
}

.body {
  background-color: var(--ligth-beige);  
  overflow: overlay;
}