@import '../styles/variables.scss';

.list {
    margin: 4px 4px 4px;
    display: grid;
    gap: 2px;
}

.list_item {
    height: 40px;
    border: 2px solid var(--navy);
    border-radius: 10px;
    text-indent: 5px;
    background-color: var(--grey);
    color: var(--dark);
    font-size:20px;
    font-family:'revert';
}

.list_item_done {
    text-decoration: line-through;
}