@import './styles/variables.scss';

.app {
  display: grid;
  gap: 0.2rem;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 3fr 4fr;
}

.head {
  display: flex;  
  align-items: center;
  justify-content: center;
}

.body {
  background-color: var(--ligth-beige);
}