.app {
  display: grid;
  gap: 0.2rem;
  grid-template-rows: 20rem 40rem;
}

.head {
  display: flex;  
  align-items: center;
  justify-content: center;
}

.body {
  background-color: rgb(241, 246, 221);
}